.container-wrapper {
    height: 85vh;
    display: flex;
    justify-content: center;
    padding-top: 100px;
}

.kotak {
    width: 500px;
    height: 500px;
    background-color: #2BCD62;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    position: absolute;
    border-radius: 12px;
}

.dalem-kotak{
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    position: absolute;
    width: 100%;
    text-align: center;
}

.dalem-kotak > p{
    margin-bottom: 15px;
}

.dalem-kotak > a {
    padding: 15px;
}

.dalem-kotak > a > button {
    background-color: #fff;
    width: 100px;
    height: 50px;
    font-size: 14px;
    border-radius: 12px;
    transition: .3s;
}

.dalem-kotak > a > button:hover {
    transform: scale(1.1);
    vertical-align: middle;
}